.top{
    background-image: url('photos/backs.jpg');
    height: 100vh;
}
.navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

.navbar li{
    display:inline-block;
    padding: 0px 35px 0px 35px;
    vertical-align: middle;
}

.navbar li img{
    height: 70px;
    filter:invert(100%)
}
.navbar li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.navbar li a:hover, .navbar li a:active{
    text-decoration: wavy;
    color: black;
    font-size: 28px;
    background-color: white;
    padding:20px;
    border-radius: 20px;

}

.sale{
    
    /* transition: all 1s ease-in-out; */
    padding: 30px;
    border-radius: 20px;
    background-color: turquoise;
    /* transform: rotate(-30deg) translateY(100px); */
    display: inline-block;
    font-size: 30px;
    height: 30%;
    border: 2px solid black;
    animation: sales 2s ease-in-out 1s infinite forwards;
}

@keyframes sales{
    0%{
        background-color: red;
        color: white;
    }
    25%{
        background-color:coral;
        color: black;
    }
    50%{
        background-color: yellow;
        color: black;
    }
    100%{
        background-color:cyan;
        color: black;
    }
    75%{
        background-color: rgb(13, 235, 13);
        color: black;
    }
}

.sale img{
    height:30px;
    border-radius: 300px;
    vertical-align: middle;
}
#home::before{
    background-color: black;
    z-index:-1;
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    opacity:0.8;
    height:100%;
    width:100%;
}
#home{
    margin: 10px 0px 0px 100px;
    display: flex;
    width:40%;
    flex-direction: column;  
    padding:2px;
    text-align: center;
    color:white;
    border:2px solid red;
}

.welcome{
    display: flex;
}
