.top{
    background-image: url('photos/backs.jpg');
    height: 100vh;
}
.navbar{
    margin-top:0;
    display: inline-block;
    width:100%;
    background-color: black;
    opacity: 0.8;
}
.navbar li{
    display:inline-block;
    padding: 0px 35px 0px 35px;
    vertical-align: middle;
}

.navbar li img{
    height: 70px;
    filter:invert(100%)
}
.navbar li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.navbar li a:hover, .navbar li a:active{
    text-decoration: wavy;
    color: black;
    font-size: 28px;
    background-color: white;
    padding:20px;
    border-radius: 20px;

}

.sale{
    
    transition: all 1s ease-in-out;
    padding: 30px;
    border-radius: 20px;
    background-color: turquoise;
    transform: rotate(-30deg) translateY(100px);
    display: inline-block;
    font-size: 30px;
    border: 2px solid black;
    animation: sales 2s ease-in-out 1s infinite forwards;
}

@keyframes sales{
    0%{
        background-color: red;
        color: white;
        transform: translateX(10px);
    }
    25%{
        background-color:coral;
        color: black;
    }
    50%{
        background-color: yellow;
        color: black;
        transform: translateY(10px);
    }
    100%{
        background-color:cyan;
        color: black;
    }
    75%{
        background-color: rgb(13, 235, 13);
        color: black;
    }
}

.sale img{
    height:30px;
    border-radius: 300px;
    vertical-align: middle;
}